# See https://help.github.com/ignore-files/ for more about ignoring files.

.babelrc.js
webpack.config.js
rollup.config.js
index.html
index.js
404.html
/example
/src

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
